<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">





<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>admin</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
</head>
<body>


<nav class="navbar navbar-expand-lg navbar-light bg-secondary">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">

                <li class="nav-item">
                    <a class="btn btn-danger" th:href="@{/admin/logout}">logout</a>
                </li>
            </ul>
            <form th:action="@{/admin/search}" class="d-flex" method="get">

                <input class="form-control me-2 container" type="text"    name="keyword" th:value="${keyword}"   placeholder="Search user" aria-label="Search">
                <button class="btn btn-success" type="submit">Search</button>

            </form>
        </div>
    </div>
</nav>






<div class="ms-3 mb-3 mt-5 d-flex justify-content-center align-items-center"><a th:href="@{/admin/adduser}" class="btn btn-success">Add New User</a></div>


<table class="table container">
    <thead>
    <tr>
        <th scope="col">UserName</th>
        <th scope="col">FirstName</th>
        <th scope="col">Email</th>
        <th scope="col">Action</th>


    </tr>
    </th>
    </thead>
    <tbody>

    <tr th:each="users : ${users}">
        <td th:text="${users.username}"></td>
        <td th:text="${users.firstname}"></td>
        <td th:text="${users.email}"></td>
        <td><a th:href="@{/admin/edit/{id}(id=${users.id})}" class="btn btn-warning">Edit</a>
            <a th:href="@{/admin/delete/{id}(id=${users.id})}" class="btn btn-primary">Delete</a>
            <a th:href="@{/admin/delete-email/{id}(id=${users.id})}" class="btn btn-danger">Email-Delete</a>
        </td>


    </tr>

    </tbody>

</table>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>

</body>
</html>


